<div class="container">
  <h1><%= Pet.count %> pets to love in $$Marseille.</h1>
</div>

<div class="container d-flex justify-content-between">
  <div class="col-3 border">
    TEST
  </div>

  <div class="col-9">
    <div>
      <%= form_tag pets_path, method: :get, class: "input-group mb-3" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a pet"
            %>
        <div class="input-group-append">
          <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>

    <div>
      <div class="row row-cols-3 row-cols-sm-3 row-cols-xs-1 mt-5">
        <% @pets.each do |pet| %>
        <div class="col mb-4">
          <div class="card">
            <%= link_to pet_path(pet) do %>
              <img src="https://i.f1g.fr/media/madame/1900x1900/sites/default/files/img/2014/12/grumpy-cat-un-chat-souvent-mis-en-scene.jpg" class="card-img-top" alt="...">
            <% end %>
            <div class="card-body">
              <div class="mb-2 d-flex align-items-center">
                <h5 class="card-title d-inline-block mr-2 mb-0"><%= link_to pet.name, pet_path(pet) %></h5>
                <span class="omp_pet-badge badge badge-muted"><%= pet.species %></span>
              </div>
              <p class="card-text"><%= pet.description %></p>
            </div>
            <div class="d-flex justify-content-between align-items-center card-footer text-muted omp_card-footer-no-padding">
              <span><%= pet.age %> yr. old</span>
              <%= link_to "View", pet_path(pet), class: "btn btn-primary omp_btn-rounded-only-br" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
