<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new pet</h1>

      <%= simple_form_for @pet do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :species %>
        <%= f.input :description %>
        <%= f.input :reward_per_day %>
        <%= f.input :street_address %>
        <%= f.input :city %>
        <%= f.input :postcode %>
        <%= f.input :country %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
