<div class="container">

<div class="pet">
  <div class="pet image">
  </div>
    <div class="pet information">
      <h1><%= pet.name %></h1>
      <h2><%= pet.species %></h2>
      <p><%= pet.description %></p>
      <p><%= pet.street_address %></p>
      <p><%= pet.city %></p>
      <p><%= pet.postcode %></p>
      <p><%= pet.country %></p>
      <h3>pet.reward_per_day</h3>
</div>

</div>

</div>
