<h3>Sit for <%= @pet.name %>!</h3>
<%= simple_form_for [@pet, @sitting] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


<div class="containter col-4">
  <div class="container">
    <h2><%= "Respond to sitting demand" %></h2>
      <br>
      <h2><%= pet.reward_per_day %></h2>
    <%= simple_form_for [@pet, @sitting] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.button :submit 'Book now' %>
    <% end %>
  <%= distance_of_time_in_words(start_date, end_date)  %>
  <%= "#{pet.reward_per_day} X #{dose.ingredient.name}" %>
  <%= "Total                #{distance_of_time_in_words}" %>

  </div>
</div>
