<div class="container">
  <h2><%= "#{@pet.name}'s sitting" %></h2>
  <br>
  <ul>
    <li><%= total pet.reward_per_day %></li>
    <li><%= sitting.start_date %></li>
    <li><%= sitting.end_date %></li>
    <li><%= "#{pet.street_address}, #{pet.city}, #{pet.postcode}, #{pet.country} "></li>
  </ul>
</div>
